name: CI - Staging

on:
  push:
    branches: [main]

concurrency:
  group: deploy-staging
  cancel-in-progress: true

env:
  STAGE: staging
  TURBO_TELEMETRY_DISABLED: 1
  ALCHEMY_TELEMETRY_DISABLED: 1
  DO_NOT_TRACK: 1

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Run lint
        run: bun run lint

  format:
    name: "Format"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Check format
        run: bun run format

  typecheck:
    name: "Type Check"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Run typecheck
        run: bun run typecheck

  test:
    name: "Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun run test

  deploy:
    name: "Staging Deployment"
    needs: [lint, format, typecheck, test]
    runs-on: ubuntu-latest
    environment: staging
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: "Install dependencies"
        run: bun install

      - name: "Deploy"
        id: deployment
        run: bun run infra:deploy
        env:
          STAGE: ${{ env.STAGE }}
          ALCHEMY_PASSWORD: ${{ secrets.ALCHEMY_PASSWORD }}
          ALCHEMY_STATE_TOKEN: ${{ secrets.ALCHEMY_STATE_TOKEN }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CDP_API_KEY_ID: ${{ secrets.CDP_API_KEY_ID }}
          CDP_API_KEY_SECRET: ${{ secrets.CDP_API_KEY_SECRET }}
          CDP_WALLET_SECRET: ${{ secrets.CDP_WALLET_SECRET }}
          CDP_PROJECT_ID: ${{ secrets.CDP_PROJECT_ID }}
          CDP_CLIENT_API_KEY: ${{ secrets.CDP_CLIENT_API_KEY }}
          GITHUB_SHA: ${{ github.sha }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Output deployment URLs"
        run: |
          echo "::notice::Api deployed to ${{ steps.deployment.outputs.api_url }}"
          echo "::notice::App deployed to ${{ steps.deployment.outputs.app_url }}"
